.tip-bottom-enter-active, 
.tip-bottom-leave-active {
	transition: all .14s linear;
	transform: translateY(-16px); 
}

.tip-bottom-enter-to {
	transform: translateY(0);
}

.tip-bottom-enter, 
.tip-bottom-leave-active {
	opacity: 0;
}

.plugin__tip {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	// background-color: rgba(0, 0, 0, .6);
	z-index: 99999;
	color: #fff;

	&-box {
		margin: 150px auto 0 auto;
		text-align: center;
	}

	&-ct {
		display: inline-block;
		min-width: 150px;
		max-width: 250px;
		padding: 8px 10px;
		border-radius: 2px;
		line-height: 18px;
		font-size: 12px;
		box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	}
	
	&-fail {
		background-color: #ff5b5b;
	}

	&-success {
		background-color: #58cb71;
	}
}