@function rem($px) {
	@return $px * 320 / 750 / 20 + rem;
}

@mixin round ($r, $bool:false) {
	@if $bool {
		border-radius: rem($r);
	} @else {
		border-radius: $r;
	}
}

@mixin roundTL ($r, $bool:false) {
	@if $bool == rem {
		border-top-left-radius: rem($r);
	} @else {
		border-top-left-radius: $r;
	}
}

@mixin roundTR ($r, $bool:false) {
	@if $bool == rem {
		border-top-right-radius: rem($r);
	} @else {
		border-top-right-radius: $r;
	}
}

@mixin roundBR ($r, $bool:false) {
	@if $bool == rem {
		border-bottom-right-radius: rem($r);
	} @else {
		border-bottom-right-radius: $r;
	}
}

@mixin roundBL ($r, $bool:false) {
	@if $bool == rem {
		border-bottom-left-radius: rem($r);
	} @else {
		border-bottom-left-radius: $r;
	}
}
