@charset "UTF-8";

html {
	background: #fff;
	position: relative;
	min-height: 100%;
 	-webkit-text-size-adjust: 100%;
 	-ms-text-size-adjust: 100%}

body {
	color: #000;
	margin: 0 auto;
	overflow-x: hidden;
	font-weight: 300;
	font-family: "PingFang-SC-Regular","Helvetica Neue",Helvetica,"Droid Sans Fallback","microsoft yahei",sans-serif;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, th, td {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

input, textarea, select, button {
	color: #000;
	font-family: "PingFang-SC-Regular","Helvetica Neue",Helvetica,"Droid Sans Fallback","microsoft yahei",sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
section {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none
}

article, aside, dialog, figure, footer, header, menu, nav, section {
	display: block;
}

a {
	text-decoration: none;color:#666;
	-webkit-tap-highlight-color: rgba(0,0,0,.35);
	-webkit-touch-callout: none;
}

ul, li{
	list-style: none;
}

address, cite, em, i, b{
	font-style: normal;
	font-weight: normal;
}

a:hover,
a:active {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

a:focus {
	outline: none;
	-moz-outline: none;
}

input, textarea, button {
	outline:none;
	border:0;
}
textarea {
	resize: none;
}

img {
	max-width: 100%;
	vertical-align: top;
	height: auto;
	border: 0;
}

/* input placeholder */
input::-webkit-input-placeholder  {
	color: #6e6e6e;
}
input:-ms-input-placeholder {
	color: #6e6e6e;
}
input::-moz-placeholder {
	color: #6e6e6e;
}
input:-moz-placeholder {
	color: #6e6e6e;
}
