@charset "UTF-8";
@import "./function";
$fontFamilyBase:"PingFang-SC-Regular","Helvetica Neue",Helvetica,"Droid Sans Fallback","microsoft yahei",sans-serif;

html {
  background:#fff;
  position:relative;
  min-height:100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%}

body {
  background:#fff;
  color:#000;
  margin: 0 auto;
  overflow-x: hidden;
  font-family:$fontFamilyBase;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,th,td {
  margin: 0;
  padding: 0;
  -webkit-touch-callout:none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

input, textarea, select,button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
section {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none
}

article,aside,dialog,figure,footer,header,menu,nav,section {display: block}

a {text-decoration: none;color:#666;
  -webkit-tap-highlight-color: rgba(0,0,0,.35);
  -webkit-touch-callout:none;
}

ul,li{list-style: none}

address,cite,em,i,b{font-style: normal;font-weight: normal;}

a:hover, a:active { -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;text-decoration: none;}

a:active {opacity:.85;}

a:focus {outline:none;-moz-outline:none;}

input,textarea,button{outline:none;border:0}
textarea{resize: none;font-family:$fontFamilyBase;font-size:12px;}

img{max-width: 100%;vertical-align:top;height:auto;border:0;}

/* input placeholder */
input::-webkit-input-placeholder {color:#999;}
input:-ms-input-placeholder{color:#999;}
input::-moz-placeholder{color:#999;}
input:-moz-placeholder{color:#999;}

.bk{display: block}
.clear,.clearfix{*zoom:1;}
.clear:after,.clearfix{content:'';display:block;clear:both;height:0;visibility:hidden;}
.ovh{overflow:hidden;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.show{display:block;}
.hide{display:none;}
.fr{float:right;}
.fl{float:left;}

.inline{display: inline-block;vertical-align: top;}

/* 兼容PC */
.maxWidth{
  max-width: rem(750) !important;
  .fixed,.shootlayer,#payBtn{left:50% !important; width: rem(750) !important; margin-left: rem(-375) !important;}
}