@keyframes cursor {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
%scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: #d8e1f9;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0,0,0,.6);
  }
}
.emot {
  font-size: 12px;
  &_area {
    position: relative;
    width: 600px;
    padding: 7px 20px;
    border: 1px solid #a2d8fa;
    background-color: #f7f7f7;
    border-radius: 2px;
    margin-bottom: 10px;
    overflow: hidden;
    .size_l & {
      margin-bottom: 14px;
    }
    textarea {
      position: absolute;
      top: 7px;
      right: 20px;
      bottom: 7px;
      left: 20px;
      width: 600px;
      padding-right: 4px;
      background-color: transparent;
      line-height: 24px;
      z-index: 2;
      opacity: .5;
      @extend %scroll;
    }
  }
  &_pre {
    width: 100%;
    min-height: 24px;
    max-height: 72px;
    line-height: 24px;
    visibility: hidden;
  } 
  &_show {
    position: absolute;
    top: 7px;
    right: 16px;
    bottom: 7px;
    left: 20px;
    padding-right: 4px;
    line-height: 24px;
    overflow-y: auto;
    cursor: text;
    @extend %scroll;
  }
  &_send {
    float: right;
    width: 76px;
    height: 25px;
    color: #818181;
    line-height: 25px;
    text-align: center;
    background-color: #eee;
    border-radius: 2px;
    cursor: pointer;
  }
  &_msg {
    .size_l & {
      padding-bottom: 19px;
    }
  }
}